<form>
  <div class="relative">
    <button mat-icon-button 
    (click)="back()"
    style="float:right" class="fixed right">
<mat-icon>arrow_right_alt</mat-icon>
</button>
<div class="fixed center" >{{eventClient.FirstName+' '+eventClient.LastName+', '+eventName}}
</div>
<div class="buttonsDiv" class="fixed rightt">
  <button mat-icon-button 
          style="float:right;"
          [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu" >

    <button (click)="fileUpload.click()"
            *ngIf="isAd"
            mat-menu-item>
      <mat-icon>camera_enhance</mat-icon>
       העלה תמונות
    </button>
      <input type="file" 
             #fileUpload
             style="display: none;"
             multiple 
             (change)="selectFiles($event)"
             accept="jpg"/>

    <button mat-menu-item
            [disabled]="imagesInfos &&  !(imagesInfos.length>1)" 
            (click)="downLoadAllImg()">
      <mat-icon>download</mat-icon>
      <span>הורד הכל</span>
    </button>

    <button mat-menu-item
            [disabled]="imagesInfos && !(imagesInfos.length>0)" 
            (click)="deleteAllImg();">
      <mat-icon>delete</mat-icon>
      <span>מחק הכל</span>
    </button>

  </mat-menu>

  <div class="connectedButtonsDiv" class="fixed left">    
    <label>מה להציג?</label>
    <button (click)="viewImgSelected()"
            *ngIf="imagesInfos && imagesInfos.length>0"
            class="smallButton">
        {{selectedImgsText}}
    </button>
  </div>
  <div class="connectedButtonsDiv" class="fixed leftt"><button (click)="endselect()"
    class="smallButton"
    *ngIf="!isAd" >
סיים בחירה
</button></div>
<div class="connectedButtonsDiv" class="fixed leftt" ><button (click)="print()"
class="smallButton"
*ngIf="isAd" >
הדפס
</button></div>
  <div class="connectedButtonsDiv" class="fixed lefttt">
    <label [innerText]="'תמונות שנבחרו: '+ sumIsSelected+' '"></label>
    <button (click)="saveImgSelected()"
            class="smallButton"
            *ngIf="!isAd">
        שמור בחירה
    </button>
  </div>
</div>

  <div class="connectedButtonsDiv">
    <label *ngIf="enableButton">
      {{selectedFiles.length}} קבצים הועלו
    </label>

    <button *ngIf="enableButton"
            class="smallButton"
            (click)="uploadFile()">
        אישור
    </button>
  </div>
<mat-menu #premission="matMenu">
 
<div id="popup1"> 
  <label [innerText]="message"></label>
  <div>
    <button class="a" (click)="beforeDeleted(false)">לא </button>
    <button class="b" (click)="beforeDeleted(true)">כן </button>
  </div>
</div>

</mat-menu>

<div id="popup2" 
*ngIf="popup2Open"> 
<label [innerText]="message"></label>
<div>
<button class="b" (click)="beforeDeleted(true)">כן </button>
<button class="a" (click)="beforeDeleted(false)">לא </button>
</div>
</div>
<div id="popup2" 
*ngIf="popup3Open"> 
<label [innerText]="message"></label>
<div>
<button class="b" (click)="endselectpop(true)">כן </button>
<button class="a" (click)="endselectpop(false)">לא </button>
</div>
</div>
</div>
  


  
 
<div *ngIf="!isAd">
    <div *ngFor="let img of paginatedImages" 
        class="images">
      <svg *ngIf="img['IsSelected']" 
            width="16" 
            height="16" 
            fill="green" 
            class="circle-fill">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <div class="wrapprer-img" 
          (click)="viewSelect(img)"> 
      <img [src]="img['PathImg']" 
           [ngClass]="{'noSelect': img['IsSelected']===false, 'select': img['IsSelected']===true}" >

      <span [innerText]="img['Name']" 
            class="nameImg">
      </span>
    
    </div>
    <div class="icons"> 
      <svg class="icon delete" [matMenuTriggerFor]="premission" viewBox="0 0 16 16" (click)="deleteImg(img,img);"   matTooltip="מחק">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>

      <button (click)="imgSelected(img)" 
              *ngIf="!isAd"
              [innerText]="img['isPublished']==true ? 'בטל פרסום' : 'פרסם'"
              [ngClass]="img['isPublished']==true ? 'b' : 'a'">
      </button>

      <svg width="16" height="16" class="icon download" viewBox="0 0 16 16" (click)="downLoad(img)"  matTooltip="הורדה">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
      </svg>

    </div>
  </div>
  <div *ngIf="pageCount > 1">
    <button *ngFor="let page of pages" (click)="changePage(page)">{{ page }}</button>
  </div>
</div>
  <table class="table table-striped" id="middle"*ngIf="isAd " >
    <thead>
    <tr>
      <th></th>
      <th *ngIf="isAd && flag">שם תמונה שנבחרה</th> 
  </tr>
    </thead>
    <tbody>
    <tr *ngFor="let img of imagesInfos | filter:searchText let i=index" 
        id="pointer" >
        <td [innerText]=i+1 *ngIf="img.IsSelected &&isAd && flag" ></td>
        <td [innerText]="img.Name" *ngIf="img.IsSelected && isAd && flag"></td>
    </tr>
    </tbody>
  </table>
<div *ngIf="isAd && !flag">
  <div *ngFor="let img of paginatedImages" 
  class="images">
  <div class="wrapprer-img" > 
<img [src]="img['PathImg']"  >

<span [innerText]="img['Name']" 
    class="nameImg">
</span>

</div>
</div>
<div *ngIf="pageCount > 1" >
  <button *ngFor="let page of pages" (click)="changePage(page)">{{ page }}</button>
</div>
</div>
</form>
  
<app-upload-img *ngIf="dialogOpen"> </app-upload-img>