img {
    /* width: 100%; */
   
    max-width: 100%;
    max-height: 80%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.select {
    opacity: 0.6;
    
}
.wrapprer-img{
    width: 220px;
    height: 230px; 
    cursor: pointer;
   

}
.wrapprer-imgg{
  width: 220px;
  height: 180px; 
  cursor: pointer;
}
.images {

    display: inline-block;
    margin: 10px;
    border: 2px solid black;
}
.midden{
  margin-right: 18%;
}
.circle-fill {
    
    position: absolute ;
    margin: 0.2rem -1.2rem;
    /* background-color: white;
    border-radius: 50%;
    border: 0.5px solid white; */
}

.fixed{
 position: fixed;
top:10;
opacity: 1;
    z-index: 999;
}
.right{
  right: 150px;
}
.rightt{
  right: 250px;
}
.left{
  left: 100px;
}
.leftt{
  left: 270px;
}
.lefttt{
  left: 350px;
}
.center{
right: 50%;
}
.relative{
  position: relative;
  height: 5vh;
} 
.icons{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    padding: 10px;
}
.icon{
    position: relative;
    background-color: rgb(185, 183, 183);
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

mat-menu{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: right;

}

.nameImg{
    /* margin: 2rem; */
    /* margin-top: 10px; */
    text-align: center;
    display: block;
    /* position: absolute; */
}
#popup1{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

#popup2{

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border: 1px solid rgb(42, 0, 63);
  border-radius: 12px;
  margin-left: 40vw;
  padding: 5px;

}
.closePop{
    width: 25px;
    background-color: red;
    cursor: pointer;
    text-align: center;
    /* border-radius: 5px; */
    
}
.marg{
    margin: 30px;
}
.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }

  .buttonsDiv{
    opacity: 1;
    z-index: 999;
    color: rgb(42, 0, 63);
    font-size: large;
    /* display: flex; */
    /* padding: 10px; */
    padding: 5px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* justify-content: space-evenly; */
    /* flex-direction: row; */
    /* align-items: flex-end; */
    margin-right: 5vw;
    margin-left: 5vw;
    display: flow-root;
  }



  .button{
    background-color: rgb(230, 230, 230) ;
    /* border: 1.5px solid rgb(58, 0, 87) ; */
    color: rgb(31, 0, 46) ;
    font-size: medium;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    padding: 5px 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
  border:none;
  }
  
  .button:hover{
    /* background-color: white; */
    background-color: rgb(42, 0, 63) ;
    color: white ;
    font-weight: normal;
  }

  .connectedButtonsDiv{
   
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 1px solid rgb(42, 0, 63);
    float: left;
    padding-right: 2vw;
    padding-left: 2vw;
    justify-content: space-between;
  }

 .smallButton{
  /* background-color: rgb(42, 0, 63) !important;
  color: white !important;  */
  background-color: rgb(42, 0, 63) !important;
  color: white !important;
  font-size: small;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border-radius: 12px;
  font-weight: normal !important;
  border:none;
  cursor: pointer;
}

.smallButton:disabled{
  cursor: not-allowed;
}

.menuDiv{
  float:right
}

.smallButton:hover{
  /* background-color: white; */
  /* background-color: rgb(230, 230, 230);
  border: 1.5px solid rgb(58, 0, 87);
  color: rgb(31, 0, 46); */
  background-color: rgb(230, 230, 230) !important;
  border: 1.5px solid rgb(58, 0, 87) !important;
  color: rgb(31, 0, 46) !important;
  font-weight: bold;

  /* font-weight: bold; */
} 
label{
  margin-bottom: 10px;
}
  .a{
    background-color: rgb(230, 230, 230) ;
    /* border: 1.5px solid rgb(58, 0, 87) ; */
    color: rgb(31, 0, 46) ;
    font-size: medium;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    padding: 5px 20px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    border:none
  }
  
  .a:hover{
    /* background-color: white; */
    /* background-color: rgb(42, 0, 63) ; */
    color: rgb(230, 230, 230) ;
    background-color: rgb(31, 0, 46) ;
    font-weight: normal;
  }

  .b{
    color: rgb(230, 230, 230) ;
    /* border: 1.5px solid rgb(58, 0, 87) ; */
    background-color: rgb(31, 0, 46) ;
    font-size: medium;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    padding: 5px 20px;
    font-weight: normal;
  border:none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
  }
  
  .b:hover{
    /* background-color: white; */
    background-color: rgb(230, 230, 230) ;
    /* border: 1.5px solid rgb(58, 0, 87) ; */
    color: rgb(31, 0, 46) ;
    font-weight: normal;
  }