<form>
  <header>
      <h1 [innerText]="headerText" ></h1>
      <button class="exitButton" 
              mat-button 
              [matMenuTriggerFor]="menu" 
              [innerText]="user.FirstName">
      </button>
  </header>

  <div class="pageDiv">
    
    <div class="buttons-div">

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="exit()" >התנתק</button>
      </mat-menu>
 
      <button [ngClass]="tabs[0]? 'tabIn' : 'menuButton'"
              class="menuButton"
              (click)="diary()">
        <mat-icon>event</mat-icon>
        יומן   
      </button>

      <button [ngClass]="tabs[1]? 'tabIn' : 'menuButton'"
              class="menuButton"
              (click)="clientsManagment()">
        <mat-icon>people</mat-icon>
        ניהול לקוחות
      </button>

      <button [ngClass]="tabs[2]? 'tabIn' : 'menuButton'"
              class="menuButton"
              (click)="eventsManagment()">
        <mat-icon>list</mat-icon>
        ניהול אירועים
      </button>

      <button [ngClass]="tabs[3]? 'tabIn' : 'menuButton'"
              class="menuButton"
              (click)="profile()">
        <mat-icon>person</mat-icon>
        פרופיל
      </button>

    </div>
    <div class="router-div">
      <router-outlet></router-outlet>
    </div>
  </div>
</form>