<form>
  <header id="stay">
      <h1 [innerText]="headerText" ></h1>
      <button class="exitButton" 
              mat-button 
              [matMenuTriggerFor]="menu" 
              [innerText]="user.FirstName">
      </button>
  </header>

  <div class="pageDiv" >
  <div class="buttons-div">

  <mat-menu #menu="matMenu" >
     <button mat-menu-item (click)="exit()" >התנתק</button>
  </mat-menu>


<button [ngClass]="tabs[0]? 'tabIn' : 'menuButton'"
        class="menuButton"
        (click)="myEvents()" class="fixed first">
  <mat-icon>event</mat-icon>
  האירועים שלי
</button>
<button [ngClass]="tabs[1]? 'tabIn' : 'menuButton'"
        class="menuButton"
        (click)="profile()" class="fixed second" >
  <mat-icon>person</mat-icon>
פרופיל
</button>

</div>
<div class="router-div">
<router-outlet></router-outlet>
</div>
</div>


</form>



