/* form {
    width: 30vw;
    margin: auto;
    box-shadow: 4px 4px 10px 4px gray;
    padding: 1.5em;
} */

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(42, 0, 63);
    font-weight: bold;
    /* font-size: 50px; */
    }
    body{
      padding-bottom: 0px;
    }
    form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    /* margin-left: 50px;
    margin-right: 60px; */
    padding: 20px;

    /* vertical-align:bottom ; */
    /* padding-bottom: 0px; */
    }
    
    .form-control{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      direction: rtl;
      font-size: large;
      border: 0.5px solid rgb(61, 0, 92);
      border-radius: 5px;
      padding: 10px;
      min-width: 15vw;
      background-color: white;
      margin: 10px;
      margin-left: 0px!important;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 0px 10px 10px 0px !important;
      border-left: none;
    }
  
    .form-control:focus{
      outline: none;
    }
    
    .ng-invalid{
    border-color: red;
    /* border-width: 2px; */
    }
    
    .submit-button{
    font-size: larger;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .btnOK{
      margin: 14px;
      background-color: rgb(42, 0, 63) ;
      color: white;
      border-radius: 8px;
      font-weight: normal;
      font-size: x-large;
      padding: 6px;
      text-align: center;
      cursor: pointer;
      border:none;
      min-width: 12vw;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .btnOK:disabled{
      cursor: not-allowed;
    }

    .btnOK:hover{
      border: 1px solid rgb(42, 0, 63);
      color: rgb(42, 0, 63) ;
      background-color: white;
    }
    
    a{
      cursor: pointer;
      color: darkblue;
      margin: 10px;
    }
    a:hover{
      color: red;
    }

    .errorText{
      color: red;
      background-color: transparent;
      text-align: center;
      margin: 5px;
      margin-top: 0px;
      font-size: 13px;
      padding: 7px;
      border-radius: 10px;
    }

  .iconDiv{
      background-color: rgb(194, 194, 194) !important;
      color: white !important;
      border-radius: 10px 0px 0px 10px !important;
      margin-right: 0px !important;
      /* border: none !important; */
      cursor: pointer;
      padding: 7px;
      border: 0.5px solid rgb(61, 0, 92);
      border-right: none;
    }
  
    .iconDiv:disabled{
      cursor: auto;
    }

    .iconButton{
      background-color: rgb(194, 194, 194) !important;
      color: white !important;
      border-radius: 10px 0px 0px 10px !important;
      margin-right: 0px !important;
      cursor: pointer;
      padding: 7px;
      border: 0.5px solid rgb(61, 0, 92);
      border-right: none;
    }
  
    .iconButton:disabled{
      cursor: auto;
    }
  
    
    .formControlsDiv{
      display: flex;
      flex-direction: row-reverse;
      align-items: center
    }
    