<form>
<mat-stepper linear #stepper>
    <mat-step [stepControl]="step1FormGroup"  >
        <form [formGroup]="step1FormGroup">
            <h1 for="email" [innerText]="'הזן כתובת מייל שאיתה נרשמת למערכת'"></h1>
            <div class="formControlsDiv">
                <button class="iconDiv" disabled="true">
                    <mat-icon matSuffix >email</mat-icon>
                </button> 
                <input type="email" 
                        id="email" 
                        name="email" 
                        class="form-control"
                        formControlName="email" 
                        (blur)="checkEmail()" 
                        [(ngModel)]="email" />
            </div>
            <div *ngIf="step1FormGroup.controls['email'].invalid && (step1FormGroup.controls['email'].dirty || step1FormGroup.controls['email'].touched)">
                <div class="errorText"
                    *ngIf="step1FormGroup.controls['email'].errors!['required']">
                חובה להכניס מייל
                </div>
                <div class="errorText"
                    *ngIf="step1FormGroup.controls['email'].errors!['email']">
                כתובת מייל לא תקינה
                </div>
            </div>

            <div class="errorText"
                *ngIf="!emailExists && !step1FormGroup.controls['email'].errors">
                כתובת המייל לא נמצאה במערכת
            </div>

            <button (click)="sendTemporaryPassword();stepper.next()" 
                    class="btnOK"
                    [disabled]="step1FormGroup.controls['email'].errors || !emailExists">
                אישור
            </button>
        </form>
    </mat-step>

    <mat-step [stepControl]="step2FormGroup"  >
        <form [formGroup]="step2FormGroup">
            <label for="code" 
                   [innerText]="'הקלד קוד שנשלח למייל שלך'">
            </label>
            <div class="formControlsDiv">
                <button class="iconDiv" disabled="true">
                    <mat-icon matSuffix >lock</mat-icon>
                </button> 
                <input type="text" 
                       class="form-control" 
                       id="code" 
                       name="code" 
                       [(ngModel)]="vertifyPassword"
                       formControlName="temporaryPassword"/>
            </div>
            <button [disabled]="!(vertifyPassword==temporaryPassword)" 
                    (click)="stepper.next()" 
                    class="btnOK">
                    אישור
            </button>        
        </form>
    </mat-step>

    <mat-step [stepControl]="step3FormGroup">      
        <form class="form"
              [formGroup]="step3FormGroup">
            <div class="form-group">
                <label>סיסמא</label>
                <input [type]="hide?'password':'text'"
                       class="form-control" 
                       formControlName="password">
                <button class="iconButton">
                    <mat-icon aria-disabled="true" matSuffix (click)="hide=!hide">{{hide? 'visibility':'visibility_off'}}</mat-icon>
                </button> 
                <div *ngIf="step3FormGroup.controls['password'].touched && step3FormGroup.controls['password'].invalid" class="errorText">
                    <div *ngIf="step3FormGroup.controls['password'].errors!['required']">חובה להכניס סיסמה                      
                    </div>
                </div>
 
            </div>
            <div class="form-group">
                <label>אימות סיסמא</label>
                <input [type]="hide?'password':'text'"
                        class="form-control" 
                        formControlName="confirm_password">
                <button class="iconButton">
                    <mat-icon aria-disabled="true" matSuffix (click)="hide=!hide">{{hide? 'visibility':'visibility_off'}}</mat-icon>
                </button> 
                <div *ngIf="step3FormGroup.controls['confirm_password'].invalid && (step3FormGroup.controls['password'].dirty || step3FormGroup.controls['password'].touched)">
                    <div class="errorText"
                         *ngIf="step3FormGroup.controls['confirm_password'].errors!['required']">
                        שדה חובה
                    </div>
                    <div class="errorText"
                        *ngIf="step3FormGroup.controls['confirm_password'].errors!['confirmedValidator']">
                        סיסמאות לא זהות
                    </div>
            </div>  
        </div>

            <div class="form-group">
                <button (click)="changePass();stepper.next"
                        [disabled]="step3FormGroup.controls['confirm_password'].errors || step3FormGroup.controls['password'].errors"
                        class="btnOK">
                        שמור
                </button>
            </div>
        </form>
    </mat-step>

    <mat-step >
        <h1>הזיהוי עבר בהצלחה! מעבירים אותך לכניסה למערכת</h1>
    </mat-step>
  </mat-stepper>
</form>
  

<!-- <form *ngIf="!clicked"
       [formGroup]="form"
       novalidate>

    <h1 for="phone" [innerText]="'הזן מספר טלפון'"></h1>

    <div class="formControlsDiv">
        <button class="iconDiv" disabled="true">
            <mat-icon matSuffix >phone</mat-icon>
        </button> 

        <input type="tel" 
        id="phone" 
        name="phone" 
        class="form-control"
        formControlName="tel"  
        [(ngModel)]="phone" />

    </div>

        <div *ngIf="form.controls['tel'].invalid && (form.controls['tel'].dirty || form.controls['tel'].touched)" class="alert alert-danger">
            <div class="errorText"
                 *ngIf="form.controls['tel'].errors!['required']">
              חובה להכניס טלפון
            </div>
            <div class="errorText"
                 *ngIf="form.controls['tel'].errors!['pattern']">
               מספר לא תקין
            </div>
        </div>

        <div class="errorText"
             *ngIf="!form.controls['tel'].invalid && phoneExists">
            לא נמצא לקוח עם מס' טלפון זה
        </div>

    <button (click)="sendTemporaryPassword()" 
            class="btnOK"
            [disabled]="form.controls['tel'].invalid">
        אישור
    </button>
</form> -->


<!-- <form *ngIf="clicked && !show">
    <label for="code" [innerText]="'הקלד קוד שנשלח למייל שלך'">
    </label>
     <input type="text" class="form-control" (focus)="errMsg = ''" id="code" name="code" [(ngModel)]="code" /> -->
    <!-- <input type="text" class="form-control" id="code" name="code" [(ngModel)]="code" />
    <button (click)="checkCode()" class="btnOK">אישור
    </button>
</form> -->
<!-- 
<form *ngIf="show" class="form" [formGroup]="form" (ngSubmit)="changePass()">
    <div class="form-group">
          <label>סיסמא</label>
          <input type="password" class="form-control" formControlName="password">
          כאן כל התקינויות בירוק
           <span class="text-danger"
              *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
              Password is required
          </span> -->
          <!-- <span class="text-danger"
              *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter and 1 number
          </span> -->
      <!-- </div>
      <div class="form-group">
          <label>אימות סיסמא</label>
          <input type="password" class="form-control" formControlName="confirm_password"> -->
          <!-- <span class="text-danger"
              *ngIf="(registerFormControl.confirm_password.touched || submitted)&& registerFormControl.confirm_password.errors?.required">
              Confirm Password is required
          </span> -->
          <!-- <span class="text-danger"
              *ngIf="registerFormControl['confirm_password'].touched && registerFormControl['confirm_password'].errors?['passwordMismatch']">
              Passwords doesnot match
          </span> -->
      <!-- </div>
      <div class="form-group">
          <button type="submit" class="btnOK">שמור</button>
      </div>
</form> -->